@page
@model Core5RazorPages.Pages.Recipes.CreateModel
@{
    ViewData["Title"] = "Create Recipe";
}

<h2>@ViewData["Title"]</h2>
<hr />

<form method="post" class="form-horizontal">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</form>